#me {
   background-image: url("https://www.dropbox.com/s/9nml5wao0u5wgs7/Prism%20Cortexdim.png?raw=1"); 
  background-color: #cccccc;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  
}